@tailwind base;

/* @apply here */

/* @layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
} */
.animate {
  @apply transition-all duration-150 ease-linear;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif !important;
}
@tailwind components;
@tailwind utilities;
